In [7]:
from pangres import upsert
import pandas as pd
from config import engine

In [29]:
df=pd.read_csv('data/inclino_param.csv',sep=';')

In [30]:
df

  inclino nom_chantier  param_1  param_2  param_3  param_4  param_5  param_6
0     IC5   chantier_1     25.0      NaN      NaN      NaN      NaN      NaN
1     IC7   chantier_1      NaN     26.0      NaN      NaN      NaN      NaN

In [31]:
df= df.head(0).set_index(['inclino','nom_chantier'])

In [46]:
df=df.reset_index()

In [47]:
df=df.rename(columns={'piezo':'secteur'}).set_index(['secteur','nom_chantier'])

In [48]:
df

Empty DataFrame
Columns: [param_1, param_2, param_3, param_4, param_5, param_6]
Index: []

In [49]:
upsert(engine=engine,
    df=df,
    table_name='secteur_param',
    if_row_exists='update'
)