In [1]:
import pandas as pd
import numpy as np

In [3]:
import plotly.express as px

In [5]:
from data import get_data

In [6]:
chantier='chantier_1'

In [7]:
def first(col):
    i = 0
    for j in col:
        if (not np.isnan(j)) & (i == 0):
            i = j
            break
    return i

def tension_blocage(df):
    df1 = df.copy()
    for col in df1.columns:
        df1[col] = df1[col] / first(df1[col])
    return df1


def format_df(df, list_tirants):
    df.date = pd.to_datetime(df.date, format="%d/%m/%Y")
    df = df.set_index("date")[list_tirants]
    df_ratio = tension_blocage(df)
    return df, df_ratio


def graph_tirant(chantier, list_tirants, height=500, mode=1):
    df = get_data(chantier, 'actif', 'tirants.csv', sep=False)
    df, df_ratio = format_df(df, list_tirants)
    fig1 = px.line(df.reset_index(), x='date', y=list_tirants)
    fig2 = px.line(df_ratio.reset_index(), x='date', y=list_tirants)
    fig1.update_layout(
        height=height,
        legend_title_text=None,
        yaxis_title="Tension (kN)",
        xaxis_title=None,
        plot_bgcolor=colors['background'],
        paper_bgcolor=colors['background'],
        font_color=colors['text'])
    fig2.update_layout(
        height=height,
        legend_title_text=None,
        yaxis_title="Tension (%)",
        xaxis_title=None,
        plot_bgcolor=colors['background'],
        paper_bgcolor=colors['background'],
        font_color=colors['text'],)
    fig1.update_xaxes(showgrid=False)
    fig2.update_xaxes(showgrid=False)
    fig1.update_yaxes(gridcolor='grey')
    fig2.update_yaxes(gridcolor='grey')
    if mode==1:
        return fig1, fig2
    else:
        return fig2a

In [19]:
list_tirants=['T1-9-B']

In [20]:
df = get_data(chantier, 'actif', 'tirants.csv', sep=False)

In [21]:
df.date = pd.to_datetime(df.date, format="%d/%m/%Y")
df = df.set_index("date")[list_tirants]

In [23]:
pd.DataFrame(df)

                 T1-9-B
date
2017-12-13          NaN
2017-12-22   907.000000
2018-01-18   900.000000
2018-01-26   897.000000
2018-01-31   895.000000
...                 ...
2020-09-15  1272.926068
2020-09-16  1272.165425
2020-09-17  1274.325361
2020-09-18  1273.772818
2020-09-19  1273.990480

[850 rows x 1 columns]