In [1]:
from data import download_json
import pandas as pd
from config import engine
from pangres import upsert

In [2]:
df = download_json('chantier_1', 'param√®tres', 'positions.json')

In [3]:
with engine.connect() as con:
    query = f"select * from inclino_param where nom_chantier='{'chantier_1'}'"
    param = pd.read_sql_query(query, con=con)

In [4]:
df = pd.DataFrame({'inclino':df['inclino'].keys(), 'nom_chantier':'chantier_1'})

In [5]:
df =df.merge(param, how='left')

In [6]:
df

  inclino nom_chantier  param_1  param_2 param_3 param_4 param_5 param_6
0     IC5   chantier_1     25.0      NaN    None    None    None    None
1     IC7   chantier_1      NaN     26.0    None    None    None    None
2     IC9   chantier_1      NaN      NaN    None    None    None    None

In [7]:
df=df.set_index('inclino')

In [8]:
df['param_1'][1]=26

<ipython-input-8-0c91347a7cef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['param_1'][1]=26

In [24]:
df = df.reset_index().rename(columns={'piezo':'secteur'}).head(0)

In [25]:
df

Empty DataFrame
Columns: [secteur, nom_chantier, param_1, param_2, param_3, param_4, param_5, param_6]
Index: []

In [26]:
df=df.set_index('secteur')

In [27]:
upsert(engine=engine,
   df=df,
   table_name='secteur_param',
   if_row_exists='update')