In [1]:
from downcast import reduce
import pandas as pd

In [16]:
from data import query_data, export_data

In [17]:
chantier='chantier_1'

In [19]:
df = query_data(chantier, 'actif', 'topographie.csv', sep=False)

In [10]:
from utils_maps import create_quiver

In [21]:
df = pd.read_csv('data/topographie.csv')

In [22]:
df.drop(co)

,Unnamed: 0,date,Auto-AC11a.x,Auto-AC11a.y,Auto-AC11a.z,Auto-AC1Ba.x,Auto-AC1Ba.y,Auto-AC1Ba.z,Auto-AC311a.x,Auto-AC311a.y,...,Manu-VB22.z,Manu-VB23.x,Manu-VB23.y,Manu-VB23.z,Manu-VJ20.x,Manu-VJ20.y,Manu-VJ20.z,Manu-VJ21.x,Manu-VJ21.y,Manu-VJ21.z
0,0,31/03/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,01/04/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,02/04/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,03/04/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,04/04/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330,1330,20/11/2020,2.055322e+06,3.179692e+06,149.29598,2.055343e+06,3.179722e+06,145.708800,2055344.606,3.179714e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,1331,21/11/2020,2.055322e+06,3.179692e+06,149.29598,2.055343e+06,3.179722e+06,145.709550,2055344.606,3.179714e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1332,1332,22/11/2020,2.055322e+06,3.179692e+06,149.29598,2.055343e+06,3.179722e+06,145.709443,2055344.606,3.179714e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,1333,23/11/2020,2.055322e+06,3.179692e+06,149.29598,2.055343e+06,3.179722e+06,145.708800,2055344.606,3.179714e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1334,1334,24/11/2020,2.055322e+06,3.179692e+06,149.29598,2.055343e+06,3.179722e+06,145.709300,2055344.606,3.179714e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN