In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('data/IC5.csv', sep=';')

In [4]:
df

,profondeur,4/16/18,4/16/18.1,4/23/18,4/23/18.1,4/30/18,4/30/18.1,5/7/18,5/7/18.1,5/14/18,...,11/30/20.2,Unnamed: 266,12/7/20.2,Unnamed: 268,12/14/20.2,Unnamed: 270,12/21/20.2,Unnamed: 272,1/6/21.2,Unnamed: 274
0,"0,5",0.0,0.0,"-2,5","0,3","0,87","0,71","2,44","-0,48","0,3",...,"0,04","7,82","-0,55","8,37","-0,75","8,56","-1,51","8,76","-2,44","9,3"
1,1,0.0,0.0,"-2,5","0,2","0,78","0,6","2,71","-0,27","0,6",...,"0,87","7,63","0,3","7,96","0,2","8,35","-0,81","8,25","-1,65","8,7"
2,"1,5",0.0,0.0,"-2,5","0,2","0,72","0,62","2,64","-0,24","0,6",...,"1,58","7,35","1,04","7,68","0,97","8,07","-0,05","7,95","-0,89","8,41"
3,2,0.0,0.0,"-2,5","0,2","0,7","0,65","2,63","-0,22","0,6",...,"2,22","7,17","1,7","7,51","1,64","7,88","0,61","7,76","-0,21","8,22"
4,"2,5",0.0,0.0,"-2,6","0,3","0,67","0,68","2,59","-0,2","0,5",...,"2,89","7,04","2,37","7,38","2,32","7,76","1,29","7,63","0,47","8,08"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,"59,5",0.0,0.0,"-0,2","0,2","-0,07","0,16",0,"0,02","-0,1",...,0,0,0,0,0,0,0,0,0,0
119,60,0.0,0.0,"-0,1","0,1","-0,06","0,11","0,01","0,01",0,...,0,0,0,0,0,0,0,0,0,0
120,"60,5",0.0,0.0,"-0,1","0,1","-0,04","0,06","0,01",0,0,...,0,0,0,0,0,0,0,0,0,0
121,61,0.0,0.0,0,"0,1","-0,02","0,04",0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0