In [1]:
import pandas as pd
from config import engine

In [13]:
with engine.connect() as con:
    query2="SELECT * FROM chantier where username='Vallicorp'"
    df = pd.read_sql_query(query2, con=con)

In [14]:
df

,id,nom_chantier,username,adresse,lat,lon
0,1,chantier_1,Vallicorp,99 rue du Colonel Fabien 51530 dizy,49.065277,3.96631

In [12]:
df.username[0]

'Vallicorp'